body {
    background-color: #f2f2f2;
    font-family: sans-serif;
}

#messages {
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

#message-form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#message-input {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

#send-button {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.message {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sender {
    font-weight: bold;
    margin-right: 10px;
}


